# Maven
/target/

# NetBeans (just in case)
/nbproject/private/
/build/
/dist/
/out/
/out-review/
/out-review-current/
/tools/

# Eclipse / local IDE files
/.classpath
/.project
/.settings/


# OS junk
.DS_Store
Thumbs.db
